{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'pages/pics/favicon.ico' %}" type="image/x-icon">
    
    {% block title %}
        {% if page_name %}
            <title>{{ page_name }} | Market Segmentation</title>
        {% else %}
            <title>Market Segmentation</title>
        {% endif %}
        <style>
            th {
                color: #ff9999;
            }
        </style>
    {% endblock %}

    {% block docmeta %}
    {% endblock %}

    
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/market_segmentation.css' %}">
</head>
<body class="font-barlow-regular text-white">

    <div class="fluid-container">
        {% include 'pages/navigation_bar.html' %}
    </div>
    <div class="fluid-container lead bg-dark" style="min-height:100vh;opacity:0.85;"">
        {% block content %}{% endblock %}
    </div>

    
    
    <script src="{% static 'pages/js/bootstrap.js' %}"></script>
</body>


</html>