{% extends 'pages/base_template.html' %}
{% load static %}
{% load humanize %}

{% block content %}

{% if sales_df is not None and customers_df is not None %}


{% if ward_customer_list %}
<div class="table-responsive p-3" style="max-height: 90vh;">
    <p class="text-center fs-4">Wards with at least a Customer</p>
    <p class="text-center fs-6">List is sorted by the Number of Customers</p>
    <table class="table table-dark table-striped table-sm table-bordered font-barlow-light align-middle">
        <thead>
            <tr style="text-align: center;">
              <th>SubCounty</th>
              <th>County</th>
              <th>Ward</th>
              <th>Number of Clients</th>
            </tr>
        </thead>
        <tbody>
            {% for ward in ward_customer_list|dictsortreversed:'Number_Clients' %}
            <tr>
              <td>{{ ward.SubCounty }}</td>
              <td>{{ ward.County }}</td>
              <th class="pl-5 fs-5"><a class="nav-link" href="{% url 'pages:ward_detail_page' ward.WardUrl %}">{{ ward.Ward }}</a></th>
              <td class="text-center fs-4">{{ ward.Number_Clients }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}


{% else %}

<div class="border border-info p-0 m-0 text-dark fw-bold" style="background-color: #fff;">
    <p class="text-center m-0 p-2">Kindly Load Excel and/or Wards Data</p>
</div>

{% endif %}

{% endblock %}