{% extends 'pages/base_template.html' %} {% load static %} {% load humanize %}

{% block docmeta %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/ward_detail_map.css' %}">
{{ bar_graph_script|safe }}
{% endblock %}
{% block content %}

{% if ward %}
<div class="table-responsive p-3 border border-white mx-auto" style="max-height:50vh;width:98%;">
    <p class="text-center fs-4">{{ ward.ward }} Ward</p>
    <table class="table table-dark table-striped table-sm table-bordered font-barlow-light align-middle">
        <thead>
            <tr style="text-align: center;">
              <th>Ward</th>
              <th>SubCounty</th>
              <th>County</th>
              <th>Number of Clients</th>
              <th>Total Product A Sales</th>
              <th>Total Product B Sales</th>
              <th>Total Product C Sales</th>
              <th>Total Sales</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th>{{ ward.ward }}</th>
              <td>{{ ward.sub_county }}</td>
              <td>{{ ward.county }}</td>
              <td class="text-center fs-4">{{ num_customers|apnumber|capfirst }}</td>
              <td class="text-center fs-4">{{ total_prod_a_sales|apnumber|capfirst }}</td>
              <td class="text-center fs-4">{{ total_prod_b_sales|apnumber|capfirst }}</td>
              <td class="text-center fs-4">{{ total_prod_c_sales|apnumber|capfirst }}</td>
              <td class="text-center fs-4">{{ total_sales|apnumber|capfirst }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
  <div class="border border-info text-dark" style="width:98%;">
    <div id="ward_detail_map" class="mx-auto"></div>  
  </div>
</div>

<div class="container-fluid d-flex justify-content-center my-5">
  <div class="row my-5">
      <div class="mx-auto mb-5" style="overflow: auto;">
          {{ bar_graph_div|safe }}
      </div>
  </div>
</div>

<div class="p-4">
  <form class="d-flex" method="post">
      {% csrf_token %}
      {{ search_ward_form }}
      <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>



<script>
  const ward_geojson = '{{ ward_geojson|escapejs }}'
  const ward_customers_geojson = '{{ ward_customers_geojson|escapejs }}'
  const OpenStreetMap_Opacity = 0.85
</script>
<script src="{% static 'pages/js/ward_detail_map.js' %}"></script>
<script src="{% static 'pages/js/bokeh.min.js' %}"></script>
{% endif %}

{% endblock %}